software/images/nodered_hixbutton_press.json
[{"id":"265ba8a4.e9d37","type":"subflow","name":"Email alert","info":"","category":"","in":[{"x":40,"y":80,"wires":[{"id":"63846e83.d6fe8"}]}],"out":[],"env":[{"name":"subject","type":"str","value":"use msg.payload"}],"color":"#3FADB5","icon":"node-red/envelope.svg"},{"id":"1c764afb.7264cd","type":"e-mail","z":"265ba8a4.e9d37","server":"n3plcpnl0028.prod.ams3.secureserver.net","port":"465","secure":true,"tls":true,"name":"gm@gemic.net","dname":"to gm@gemic.net","x":390,"y":80,"wires":[]},{"id":"63846e83.d6fe8","type":"function","z":"265ba8a4.e9d37","name":"","func":"var subject = \"unknown\"\nif (env.get(\"subject\") === \"use msg.payload\") {\n    subject = msg.payload\n}\nelse {\n    subject = env.get(\"subject\")\n}\n\nmsg.topic   = subject\nmsg.payload = subject\nmsg.from    = \"nodered [gemicpi] <noreply@gemic.net>\"\n\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","x":180,"y":80,"wires":[["1c764afb.7264cd"]]},{"id":"35a28072.81149","type":"udp in","z":"aec401b1.298578","name":"","iface":"","port":"63001","ipv":"udp4","multicast":"false","group":"","datatype":"utf8","x":150,"y":80,"wires":[["369434d1.3e8acc","1c73f3e5.406d4c"]]},{"id":"369434d1.3e8acc","type":"function","z":"aec401b1.298578","name":"filter room / tag","func":"//convert to json\nconst payload = JSON.parse(msg.payload)\n//check for button\nif (payload.device_type == \"HixButton\"         &&\n    payload.room        == env.get(\"room\")     &&\n    payload.device_tag  == env.get(\"device_tag\")) {\n return msg\n}\n","outputs":1,"noerr":0,"initialize":"","finalize":"","x":380,"y":80,"wires":[["9cfcbddd.92a748","c1553e50.a53c9"]]},{"id":"9cfcbddd.92a748","type":"function","z":"aec401b1.298578","name":"set payload","func":"msg.payload = env.get(\"payload\")\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":570,"y":80,"wires":[[]]},{"id":"c1553e50.a53c9","type":"function","z":"aec401b1.298578","name":"low VCC?","func":"//convert to json\nconst payload = JSON.parse(msg.payload)\n//check for button\nif (payload.vcc < 2.8) {\n    msg.payload = `Low voltage on HixButton for ${env.get(\"room\")} - ${env.get(\"device_tag\")}`\n    return msg\n}","outputs":1,"noerr":0,"initialize":"","finalize":"","x":560,"y":180,"wires":[["7c0b720d.237924"]]},{"id":"7c0b720d.237924","type":"subflow:265ba8a4.e9d37","z":"aec401b1.298578","name":"","x":750,"y":180,"wires":[]},{"id":"1c73f3e5.406d4c","type":"function","z":"aec401b1.298578","name":"create influxdb payload","func":"//convert to json\nconst payload = JSON.parse(msg.payload)\n//construct payload for influx db\nconst influxDbPayload = [\n    //measurements\n    {\n      \"wifi_rssi\" : payload.wifi_rssi,\n      \"vcc\"       : payload.vcc\n    },\n    //tags\n    {\n      \"device_type\"            : payload.device_type,\n      \"device_version\"         : payload.device_version,\n      \"device_tag\"             : payload.device_tag,\n      \"device_build_timestamp\" : payload.device_build_timestamp,\n      \"room\"                   : payload.room,\n      \"wifi_ssid\"              : payload.wifi_ssid,\n      \"wifi_mac\"               : payload.wifi_mac,\n    }\n]\n//send it over\nmsg.payload = influxDbPayload\nreturn msg","outputs":1,"noerr":0,"initialize":"","finalize":"","x":430,"y":260,"wires":[["b1705719.d93b98"]]},{"id":"b1705719.d93b98","type":"influxdb out","z":"aec401b1.298578","influxdb":"8c8101a0.32ae78","name":"","measurement":"sensor","precision":"","retentionPolicy":"","database":"","retentionPolicyV18Flux":"","org":"","bucket":"","x":690,"y":260,"wires":[]},{"id":"8c8101a0.32ae78","type":"influxdb","hostname":"127.0.0.1","port":"8086","protocol":"http","database":"iot","name":"influxDb/iot","usetls":false,"tls":""}]